body {
    background-color: #0F1114;
}


.rc-slider-rail {
    background-color: #5B6262;
}

.rc-slider-track {
  background-color: #C3D2D3;
}

.rc-slider-dot {
  border-color: #5B6262;
}

.rc-slider-dot-active {
  border-color: #C3D2D3; 
}

.rc-slider-handle {
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #C3D2D3;
  background-color: #fff;
}

._dash-undo-redo {
  display: none;
}

._dash-loading-callback {
  color: #0F1114;
  background-color: #0F1114;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
