body {
    background-color: #0F1114;
}


.rc-slider-rail {
    background-color: #5B6262;
}

.rc-slider-track {
  background-color: #C3D2D3;
}

.rc-slider-dot {
  border-color: #5B6262;
}

.rc-slider-dot-active {
  border-color: #C3D2D3; 
}

.rc-slider-handle {
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #C3D2D3;
  background-color: #fff;
}

._dash-undo-redo {
  display: none;
}

._dash-loading-callback {
  color: #0F1114;
  background-color: #0F1114;
}
